<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Include angular CSS -->
      <link rel="stylesheet" type="text/css" href="./node_modules/angular/angular-csp.css">
    <!-- Include bootstrap CSS -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include custom CSS  -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Include Angular JS files -->
    <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>

    <!-- Index.js handles Angular setup -->
    <script type="text/javascript" src="lib/scripts/index.js"></script>

    <!-- Include our angular controller JS file -->
    <script type="text/javascript" src="lib/scripts/Components/appController.js"></script>

    <!-- Include print.js library for printing keys -->
   <script src="node_modules/print.js/dist/print.min.js"></script>

    <title>BitFreeze</title>
  </head>
  <body>
  <!-- This directive should auto-bootstrap angular. -->
    <div ng-app="ngBitFreeze" class="container-fluid">
      <!-- Our Angular controller element wraps rest of page -->
      <div ng-controller="AppController">

        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <!--   <div>
                <span class="glyphicon glyphicon-bitcoin" aria-hidden="true">
                </span>
              </div> -->
              <div>
                <h1 class='nav-appname'>
                  <span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span>
                  {{appName}}
                </h1>
              </div>
            </div>
        </nav>

        <!-- All of the Node.js APIs are available in this  renderer process. -->
        <div class="panel panel-default">
          <div class="panel-heading">Current Bitcoin Value</div>
          <div class="panel-body">
            <p>
              <span class="label label-default">USD:</span>
              Last: {{btcValue.usd.last}} Buy: {{btcValue.usd.buy}} Sell: {{btcValue.usd.sell}}
              <br>
              <span class="label label-default">JPY:</span>

最終: {{btcValue.jpy.last}}
購入: {{btcValue.jpy.buy}} 売る: {{btcValue.jpy.sell}}
            </p>
          </div>
        </div>


        <button type="button" class="btn btn-sm btn-success btc-btn-charts" ng-click="getCharts($event)"><span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span>Charts
        </button>

        <input type="text" class="form-control btc-new-name" placeholder="Wallet Name" aria-describedby="basic-addon1">

        <div class="btn-group btc-btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-md btn-primary btc-btn-generate" ng-click="genWallet($event)">Generate New Wallet
          </button>

          <button type="button" class="btn btn-md btn-primary btc-btn-print" ng-click="printWallet($event)">Print Wallet Details
          </button>
        </div>

        <!-- Output Panels: show new wallet results here. -->
        <div class="container" id="pjs-target">
          <h3 class="btc-wallet-name">Wallet Name:</h3>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title btc-public-key">Public Key:</h1>
              <!-- Display some data from our controller -->
            </div>
            <div class="panel-body">
              <div id="qrcode-public">

              </div>
            </div>
          </div>

          <div class="panel panel-danger">
            <div class="panel-heading">
              <h1 class="panel-title btc-private-key">Private Key: (DO NOT SHARE!!!)</h1>
              <!-- Display some data from our controller -->
            </div>
            <div class="panel-body">
              <div id="qrcode-private">

              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </body>


  <!-- Require jQuery with specific path for Electron -->
  <script>
    window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.min.js');
  </script>

  <!-- QR code library -->
  <script src="lib/scripts/qrcode.min.js"></script>

  <!-- Require bootstrap with specific path for electron -->
  <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js">
  </script>
  <!-- Require other developer-built functionality js files -->
  <script>
    require('./renderer.js')
    require('./lib/scripts/walletGenerator.js')
  </script>
</html>
