#qrcode-pub {
  width:160px;
  height:160px;
  margin-top:15px;
  margin-bottom: 15px;
}

.nav-appname {
  /*use same color as bootstrap btn-primary
  (refactor to set to variable with SASS if time allows)*/
  color: #337ab7;
}

.glyphicon-bitcoin {
  color: gold;
}

.prices-updated {
  font-style: bold;
  background: yellow;
}

#cash-value {
  /*Use same color as Bootstrap success panel text*/
  color: #3C763D;
}

/*.btc-btn-group {
  display: block;
  margin: auto;
}*/